# Prevent the IDE Project files from Version Control
.idea/
*.sublime-workspace

# OS Specific files

.DS_Store
.DSStore/
._*
Thumbs.db
Desktop.ini
Dropbox.ini

# Compiled Sources 

*.com
*.class
*.dll
*.exe
*.o
*.so
*.py[cod]
__pycache__/




